<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserAdminMapper">

  <select id="selectUserList">
      SELECT 
        useremail
      , username
      , userpassword
      , userphone
      , userflag
      , usermajor
      , userorg
      , reg_user
      , reg_date
      , update_user
      , update_date
      FROM react.react_user
      <if test="is_useremail != null && is_useremail != ''">
        WHERE useremail = #{is_useremail}
      </if>
      ORDER BY useremail, username
  </select>

  <update id="updateUser"> 
    UPDATE react.react_user
    SET
      username = #{is_Username}
      , userphone = CONCAT(#{is_Userphone1},'-',#{is_Userphone2},'-',#{is_Userphone3})
      , usermajor = #{is_Usermajor}
      , userorg = #{is_Organization}
      , update_date = DATE_FORMAT(now(), '%Y%m%d%H%i%s')
    WHERE useremail = #{is_UseremailFull}
  </update>

 <delete id="deleteUser">
    DELETE FROM react.react_user
    WHERE useremail = #{is_useremail}
  </delete>

</mapper>