<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserAdminMapper">

  <select id="selectUserList">
      SELECT 
        useremail
      , username
      , userpassword
      , userphone
      , userflag
      , usermajor
      , userorg
      , reg_user
      , reg_date
      , update_user
      , update_date
      FROM
      react.react_user
      ORDER BY username
  </select>

</mapper>